<h1>Statistics</h1>
<p><%= link_to "Total Products with Jungle:", admin_products_path %> <%= @products_count %></p>
<p><%= link_to 'Total Categories with Jungle:', admin_categories_path %> <%=@categories_count %></p>
