<section class="admin-categories-index">

  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Category', new_admin_category_path, class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default categories">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category</th>
          <th>Total Products</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
        <tr>
        <td>
          <%= category.name %>
        </td>
        <td>
          <%= category.products.count() %>
        </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</section>